<!doctype html>
<html lang="en" class="h-full bg-gray-900">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Exam System - Register</title>
  <link rel="icon" type="image/png" href="/assets/examImg.png" />
  <link href="./output.css" rel="stylesheet">
</head>

<body class="h-full">

  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img src="/assets/examImg.png" alt="Your Company" class="mx-auto h-15 w-auto" />
      <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-white">Create new Account</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-lg">
      <form action="" method="POST" class="space-y-6" id="login-form">
        <div class="flex gap-4">
          <div class="w-full">
            <label for="first_name" class="block text-sm/6 font-medium text-gray-100">First Name</label>
            <input id="first_name" type="text" name="first_name" placeholder="Jon" required class="mt-2 block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
          </div>
          <div class="w-full">
            <label for="second_name" class="block text-sm/6 font-medium text-gray-100 ">Second Name</label>
            <input id="second_name" type="text" name="second_name" placeholder="Doe" required class="mt-2 block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
          </div>
        </div>

        <div class="flex gap-4">
          <div class="w-full">
            <label for="national_id" class="block text-sm/6 font-medium text-gray-100">National ID</label>
            <input id="national_id" type="text" name="national_id" placeholder="14-digit ID" required class="mt-2 block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
          </div>
          <div class="w-full">
            <label for="phone_number" class="block text-sm/6 font-medium text-gray-100 ">Phone Number</label>
            <input id="phone_number" type="tel" name="phone_number" placeholder="01123456789" required class="mt-2 block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
          </div>
        </div>

        <div class="flex gap-4">
          <div id="gender-dropdown-wrapper" class="relative w-full">
            <label for="gender-text" class="block text-sm leading-6 mb-2 text-gray-100">Gender</label>
            <div class="relative">
              <input id="gender-text" type="text" readonly placeholder="Select gender" required class="block w-full cursor-pointer rounded-md bg-white/5 px-3 py-2 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" onclick="toggle_gender_container()" />

              <input id="gender-id" type="hidden" name="gender" required />

              <svg onclick="toggle_gender_container()" class="h-6 w-6 text-gray-400 cursor-pointer absolute right-3 top-1.5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
              </svg>

              <ul id="gender-container" class="hidden absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-[#1e293b] py-1 text-base shadow-lg ring-1 ring-white/5 scrollbar-thin scrollbar-thumb-gray-600">
                <li data-value="male" class="gender-item cursor-pointer select-none px-4 py-3 text-gray-300 hover:bg-white/5 transition-colors">Male</li>
                <li data-value="female" class="gender-item cursor-pointer select-none px-4 py-3 text-gray-300 hover:bg-white/5 transition-colors">Female</li>
              </ul>
            </div>
          </div>

          <div id="grade-dropdown-wrapper" class="relative w-full">
            <label for="grade-text" class="block text-sm leading-6 mb-2 text-gray-100">Grade</label>
            <div class="relative">
              <input id="grade-text" type="text" readonly placeholder="Select a grade" required class="block w-full cursor-pointer rounded-md bg-white/5 px-3 py-2 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" onclick="toggle_grade_container()" />
              <input id="grade-id" type="hidden" name="grade" required />

              <svg onclick="toggle_grade_container()" class="h-6 w-6 text-gray-400 cursor-pointer absolute right-3 top-1.5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
              </svg>

              <ul id="grades-container" class="hidden absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-[#1e293b] py-1 text-base shadow-lg ring-1 ring-white/5 scrollbar-thin scrollbar-thumb-gray-600">
                <% grades.forEach(element => { %>
                <li data-id="<%- element.id %>" class="grade-item cursor-pointer select-none px-4 py-3 text-gray-300 hover:bg-white/5 transition-colors"><%- element.grade %></li>
                <% }) %>
              </ul>
            </div>
          </div>
        </div>

        <div>
          <label for="email" class="block text-sm/6 font-medium text-gray-100">Email address</label>
          <div class="mt-2">
            <input id="email" type="email" name="email" placeholder="example@gmail.com" required autocomplete="email" class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
          </div>
        </div>
        <div class="w-full">
          <label for="date_of_birth" class="block text-sm/6 font-medium text-gray-100">Date of Birth</label>
          <input id="date_of_birth" type="date" name="date_of_birth" required class="mt-2 block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
        </div>

        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm/6 font-medium text-gray-100">Password</label>
          </div>
          <div class="mt-2 relative flex items-center">
            <span id="toggle-password" class="absolute right-3 cursor-pointer text-xs font-semibold uppercase tracking-wide text-indigo-400 hover:text-indigo-300 select-none underline" onclick="show_password()">
              Show
            </span>
            <input id="password" placeholder="********" type="password" name="password" required autocomplete="current-password" class="block w-full rounded-md bg-white/5 px-3 pr-12 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
          </div>
          <div id="error-msg" class="hidden mt-4 text-sm font-medium text-red-400 bg-red-900/20 p-2 pl-8 rounded-md border border-red-500/50"></div>
        </div>

        <div>
          <button type="submit" id="login-button" class="mt-10 flex w-full cursor-pointer items-center justify-center gap-2 rounded-md bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 disabled:opacity-70 disabled:cursor-wait transition-all">
            <svg id="loading-spinner" class="hidden h-5 w-5 animate-spin text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
            <span id="button-text">Register</span>
          </button>
        </div>
      </form>

      <p class="mt-6 text-center text-sm/6 text-gray-400">
        Already have an account?
        <a href="/login" class="font-semibold text-indigo-400 hover:text-indigo-300">Login</a>
      </p>
    </div>
  </div>
</body>
<script src="/script.js"></script>
<script>
  const form = document.getElementById('login-form');
  const emailInput = document.getElementById('email');
  const passwordInput = document.getElementById('password');
  const first_name = document.getElementById('first_name');
  const second_name = document.getElementById('second_name');
  const national_id = document.getElementById('national_id');
  const phone_number = document.getElementById('phone_number');
  const gender = document.getElementById('gender-id');
  const grade = document.getElementById('grade-id');
  const error_msg = document.getElementById('error-msg');
  const login_button = document.getElementById('login-button');
  const loading_spinner = document.getElementById('loading-spinner');
  const button_text = document.getElementById('button-text');
  const date_of_birthInput = document.getElementById('date_of_birth');

  function loading(isLoading) {
    if (isLoading) {
      loading_spinner.classList.remove('hidden');
      button_text.textContent = 'Registering...';
      login_button.disabled = true;
      error_msg.classList.add('hidden');
    } else {
      loading_spinner.classList.add('hidden');
      button_text.textContent = 'Register';
      login_button.disabled = false;
    }
  }

  async function Register() {
    loading(true);
    error_msg.innerHTML = "";

    if (
      !first_name.value ||
      !second_name.value ||
      !national_id.value ||
      !phone_number.value ||
      !gender.value ||
      !emailInput.value ||
      !passwordInput.value ||
      !grade.value ||
      !date_of_birthInput.value
    ) {
      error_msg.innerHTML = "Please fill all required fields.";
      error_msg.classList.remove("hidden");
      loading(false);
      return;
    }

    if (passwordInput.value.length < 8) {
      error_msg.innerHTML = "Password must be at least 8 characters.";
      error_msg.classList.remove("hidden");
      loading(false);
      return;
    }

    try {
      const data = {
        first_name: first_name.value,
        second_name: second_name.value,
        national_id: national_id.value,
        phone_number: phone_number.value,
        gender: gender.value,
        email: emailInput.value,
        password: passwordInput.value,
        grade: grade.value,
        date_of_birth: date_of_birthInput.value,
      };
      const response = await fetch("/register", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      });
      const result = await response.json();
      if (result.success) {
        window.location.href = "/login?toast=true&type=Success&message=Registerd%20Successfully";
      } else {

        // loop on errors in li
        result.message.forEach(element => {
          error_msg.innerHTML += `<li>${element}</li>`;
        });

        error_msg.classList.remove("hidden");
        loading(false);
      }
    } catch (error) {
      console.error("Error:", error);
      error_msg.innerHTML = "An unexpected error occurred. Please try again.";
      error_msg.classList.remove("hidden");
      loading(false);
    }
  }

  form.addEventListener("submit", function(e) {
    e.preventDefault();
    Register();
  });

  function toggle_grade_container() {
    const grades_container = document.getElementById("grades-container");
    grades_container.classList.toggle("hidden");
  }

  function toggle_gender_container() {
    const gender_container = document.getElementById("gender-container");
    gender_container.classList.toggle("hidden");
  }

  document.querySelectorAll('.gender-item').forEach(item => {
    item.addEventListener('click', function(e) {
      e.stopPropagation();
      const selectedId = this.getAttribute('data-value');
      const selectedText = this.innerText;
      document.getElementById('gender-text').value = selectedText;
      document.getElementById('gender-id').value = selectedId;
      document.getElementById('gender-container').classList.add("hidden");
    });
  });


  document.querySelectorAll('.grade-item').forEach(item => {
    item.addEventListener('click', function(e) {
      e.stopPropagation();
      const selectedId = this.getAttribute('data-id');
      const selectedText = this.innerText;
      document.getElementById('grade-text').value = selectedText;
      document.getElementById('grade-id').value = selectedId;
      document.getElementById('grades-container').classList.add("hidden");
    });
  });

  document.addEventListener('click', function(event) {
    const wrapper = document.getElementById('grade-dropdown-wrapper');
    const grades_container = document.getElementById('grades-container');
    if (!grades_container.classList.contains('hidden') && !wrapper.contains(event.target)) {
      grades_container.classList.add("hidden");
    }
    const gender_wrapper = document.getElementById("gender-dropdown-wrapper");
    const gender_container = document.getElementById("gender-container");

    if (!gender_container.classList.contains("hidden") && !gender_wrapper.contains(event.target)) {
      gender_container.classList.add("hidden");
    }

  });
</script>

</html>